NODE_ENV=development
PORT=3000

# Vercel Postgres (https://vercel.com/dashboard > Storage > Postgres)
POSTGRES_URL=postgres://user:password@host/dbname
POSTGRES_PRISMA_URL=postgres://user:password@host/dbname?pgbouncer=true&connect_timeout=15
POSTGRES_URL_NON_POOLING=postgres://user:password@host/dbname
POSTGRES_USER=user
POSTGRES_HOST=host
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=dbname
